doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title MediaFasad
        for file in ["./css/reset.css","./css/styles.min.css"]
            link(rel="stylesheet" href= file)
    body
        .wrapper#wrapper
        .background
            .background__logo
                p.background__logo_white MEDIA
                p.background__logo_brown FASAD
            .background__squares
                .background__squares_wide
                .background__squares_narrow